<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" 
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% for x in range(0, 8): %}
        <div class="row">
            {% for y in range(0, 8): %}
                {% if x % 2 == 0 and y % 2 == 0 %} 
                    <div class="column" style="background-color: red"></div>
                {% elif x % 2 == 0 and y % 2 != 0 %}
                    <div class="column" style="background-color: black"></div>
                {% elif x % 2 != 0 and y % 2 != 0 %}
                    <div class="column" style="background-color: red"></div>
                {% elif x % 2 != 0 and y % 2 == 0 %}
                    <div class="column" style="background-color: black"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>